.completed {
  text-decoration: line-through;
  background-color: lightgreen !important;
}

.filter-btn.active {
  background-color: #0d6efd;
  color: white;
}

.dark {
  background-color: #121212 !important;
  color: white;
}

.dark .card {
  background-color: #1e1e1e;
}

.dark .list-group-item {
  background-color: #2a2a2a;
  color: white;
}

.dark .btn-outline-secondary {
  color: white;
  border-color: white;
}
